* {
  background-color: #E9D5CA;
  overflow: hidden;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.titulos {
  color: #363062;
  margin-bottom: 20px;
}

#songname {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#songsubname {
  display: flex;
  justify-content: center;
}

.progress_bar {
  margin: auto;
  height: 10px;
  width: 350px;
  background-color: #827397;
}

.progressed {
  height: 10px;
  background-color: #363062;
  width: 0%;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.button {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.volume{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#pauseid {
  display: none;
}

